SwingClient/xml-resources/web-service-references/ManejadorContenidosWebService/wsdl/localhost_8080/ManejadorContenidosWebService/ManejadorContenidosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/" name="ManejadorContenidosWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ejb.laboratorio.ort.edu.uy/" schemaLocation="http://localhost:8080/ManejadorContenidosWebService/ManejadorContenidosWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarPaginaWeb">
<part name="parameters" element="tns:eliminarPaginaWeb"/>
</message>
<message name="eliminarPaginaWebResponse">
<part name="parameters" element="tns:eliminarPaginaWebResponse"/>
</message>
<message name="ArquitecturaException">
<part name="fault" element="tns:ArquitecturaException"/>
</message>
<message name="listarPaginasWebFiltrando">
<part name="parameters" element="tns:listarPaginasWebFiltrando"/>
</message>
<message name="listarPaginasWebFiltrandoResponse">
<part name="parameters" element="tns:listarPaginasWebFiltrandoResponse"/>
</message>
<message name="listarEntradaBlogFiltrando">
<part name="parameters" element="tns:listarEntradaBlogFiltrando"/>
</message>
<message name="listarEntradaBlogFiltrandoResponse">
<part name="parameters" element="tns:listarEntradaBlogFiltrandoResponse"/>
</message>
<message name="eliminarEntradaBlog">
<part name="parameters" element="tns:eliminarEntradaBlog"/>
</message>
<message name="eliminarEntradaBlogResponse">
<part name="parameters" element="tns:eliminarEntradaBlogResponse"/>
</message>
<message name="crearEntradaBlogEncripted">
<part name="parameters" element="tns:crearEntradaBlogEncripted"/>
</message>
<message name="crearEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:crearEntradaBlogEncriptedResponse"/>
</message>
<message name="modificarEntradaBlog">
<part name="parameters" element="tns:modificarEntradaBlog"/>
</message>
<message name="modificarEntradaBlogResponse">
<part name="parameters" element="tns:modificarEntradaBlogResponse"/>
</message>
<message name="modificarPaginaWeb">
<part name="parameters" element="tns:modificarPaginaWeb"/>
</message>
<message name="modificarPaginaWebResponse">
<part name="parameters" element="tns:modificarPaginaWebResponse"/>
</message>
<message name="listarPaginasWebEncripted">
<part name="parameters" element="tns:listarPaginasWebEncripted"/>
</message>
<message name="listarPaginasWebEncriptedResponse">
<part name="parameters" element="tns:listarPaginasWebEncriptedResponse"/>
</message>
<message name="obtenerPaginaWebEncripted">
<part name="parameters" element="tns:obtenerPaginaWebEncripted"/>
</message>
<message name="obtenerPaginaWebEncriptedResponse">
<part name="parameters" element="tns:obtenerPaginaWebEncriptedResponse"/>
</message>
<message name="obtenerEntradaBlogEncripted">
<part name="parameters" element="tns:obtenerEntradaBlogEncripted"/>
</message>
<message name="obtenerEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:obtenerEntradaBlogEncriptedResponse"/>
</message>
<message name="crearPaginaWebEncripted">
<part name="parameters" element="tns:crearPaginaWebEncripted"/>
</message>
<message name="crearPaginaWebEncriptedResponse">
<part name="parameters" element="tns:crearPaginaWebEncriptedResponse"/>
</message>
<message name="listarEntradasDeBlogEncripted">
<part name="parameters" element="tns:listarEntradasDeBlogEncripted"/>
</message>
<message name="listarEntradasDeBlogEncriptedResponse">
<part name="parameters" element="tns:listarEntradasDeBlogEncriptedResponse"/>
</message>
<portType name="ManejadorContenidosWebService">
<operation name="eliminarPaginaWeb">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWebRequest" message="tns:eliminarPaginaWeb"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWebResponse" message="tns:eliminarPaginaWebResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWeb/Fault/ArquitecturaException"/>
</operation>
<operation name="listarPaginasWebFiltrando">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrandoRequest" message="tns:listarPaginasWebFiltrando"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrandoResponse" message="tns:listarPaginasWebFiltrandoResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrando/Fault/ArquitecturaException"/>
</operation>
<operation name="listarEntradaBlogFiltrando">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrandoRequest" message="tns:listarEntradaBlogFiltrando"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrandoResponse" message="tns:listarEntradaBlogFiltrandoResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrando/Fault/ArquitecturaException"/>
</operation>
<operation name="eliminarEntradaBlog">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlogRequest" message="tns:eliminarEntradaBlog"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlogResponse" message="tns:eliminarEntradaBlogResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlog/Fault/ArquitecturaException"/>
</operation>
<operation name="crearEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncriptedRequest" message="tns:crearEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncriptedResponse" message="tns:crearEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="modificarEntradaBlog">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlogRequest" message="tns:modificarEntradaBlog"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlogResponse" message="tns:modificarEntradaBlogResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlog/Fault/ArquitecturaException"/>
</operation>
<operation name="modificarPaginaWeb">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWebRequest" message="tns:modificarPaginaWeb"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWebResponse" message="tns:modificarPaginaWebResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWeb/Fault/ArquitecturaException"/>
</operation>
<operation name="listarPaginasWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncriptedRequest" message="tns:listarPaginasWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncriptedResponse" message="tns:listarPaginasWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="obtenerPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncriptedRequest" message="tns:obtenerPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncriptedResponse" message="tns:obtenerPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="obtenerEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncriptedRequest" message="tns:obtenerEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncriptedResponse" message="tns:obtenerEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="crearPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncriptedRequest" message="tns:crearPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncriptedResponse" message="tns:crearPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="listarEntradasDeBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncriptedRequest" message="tns:listarEntradasDeBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncriptedResponse" message="tns:listarEntradasDeBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncripted/Fault/ArquitecturaException"/>
</operation>
</portType>
<binding name="ManejadorContenidosWebServicePortBinding" type="tns:ManejadorContenidosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarPaginaWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarPaginasWebFiltrando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarEntradaBlogFiltrando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="eliminarEntradaBlog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="modificarEntradaBlog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="modificarPaginaWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarPaginasWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarEntradasDeBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ManejadorContenidosWebService">
<port name="ManejadorContenidosWebServicePort" binding="tns:ManejadorContenidosWebServicePortBinding">
<soap:address location="http://localhost:8080/ManejadorContenidosWebService/ManejadorContenidosWebService"/>
</port>
</service>
</definitions>