SwingClient/xml-resources/web-service-references/ManejadorContenidosWebService/wsdl/localhost_8080/ManejadorContenidosWebService/ManejadorContenidosWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/">

<xs:element name="ArquitecturaException" type="tns:ArquitecturaException"/>

<xs:element name="crearEntradaBlogEncripted" type="tns:crearEntradaBlogEncripted"/>

<xs:element name="crearEntradaBlogEncriptedResponse" type="tns:crearEntradaBlogEncriptedResponse"/>

<xs:element name="crearPaginaWebEncripted" type="tns:crearPaginaWebEncripted"/>

<xs:element name="crearPaginaWebEncriptedResponse" type="tns:crearPaginaWebEncriptedResponse"/>

<xs:element name="eliminarEntradaBlog" type="tns:eliminarEntradaBlog"/>

<xs:element name="eliminarEntradaBlogResponse" type="tns:eliminarEntradaBlogResponse"/>

<xs:element name="eliminarPaginaWeb" type="tns:eliminarPaginaWeb"/>

<xs:element name="eliminarPaginaWebResponse" type="tns:eliminarPaginaWebResponse"/>

<xs:element name="listarEntradaBlogFiltrando" type="tns:listarEntradaBlogFiltrando"/>

<xs:element name="listarEntradaBlogFiltrandoResponse" type="tns:listarEntradaBlogFiltrandoResponse"/>

<xs:element name="listarEntradasDeBlogEncripted" type="tns:listarEntradasDeBlogEncripted"/>

<xs:element name="listarEntradasDeBlogEncriptedResponse" type="tns:listarEntradasDeBlogEncriptedResponse"/>

<xs:element name="listarPaginasWebEncripted" type="tns:listarPaginasWebEncripted"/>

<xs:element name="listarPaginasWebEncriptedResponse" type="tns:listarPaginasWebEncriptedResponse"/>

<xs:element name="listarPaginasWebFiltrando" type="tns:listarPaginasWebFiltrando"/>

<xs:element name="listarPaginasWebFiltrandoResponse" type="tns:listarPaginasWebFiltrandoResponse"/>

<xs:element name="modificarEntradaBlog" type="tns:modificarEntradaBlog"/>

<xs:element name="modificarEntradaBlogResponse" type="tns:modificarEntradaBlogResponse"/>

<xs:element name="modificarPaginaWeb" type="tns:modificarPaginaWeb"/>

<xs:element name="modificarPaginaWebResponse" type="tns:modificarPaginaWebResponse"/>

<xs:element name="obtenerEntradaBlogEncripted" type="tns:obtenerEntradaBlogEncripted"/>

<xs:element name="obtenerEntradaBlogEncriptedResponse" type="tns:obtenerEntradaBlogEncriptedResponse"/>

<xs:element name="obtenerPaginaWebEncripted" type="tns:obtenerPaginaWebEncripted"/>

<xs:element name="obtenerPaginaWebEncriptedResponse" type="tns:obtenerPaginaWebEncriptedResponse"/>

<xs:complexType name="crearEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArquitecturaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEntradaBlog">
<xs:sequence>
<xs:element name="idEntradaBlog" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEntradaBlogResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebFiltrando">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPublicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebFiltrandoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPaginaWeb" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPaginaWeb">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPaginaWeb">
<xs:sequence>
<xs:element name="idPaginaWeb" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPaginaWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarEntradaBlog">
<xs:sequence>
<xs:element name="idEntradaBlog" type="xs:long"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAutor" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPublicacion" type="xs:string" minOccurs="0"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
<xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarEntradaBlogResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradaBlogFiltrando">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAutor" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPublicacion" type="xs:string" minOccurs="0"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
<xs:element name="tag" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradaBlogFiltrandoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataEntradaBlog" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataEntradaBlog">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombreAutor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarPaginaWeb">
<xs:sequence>
<xs:element name="idPaginaWeb" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPublicacion" type="xs:string" minOccurs="0"/>
<xs:element name="html" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarPaginaWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradasDeBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradasDeBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>