borrar/web/WEB-INF/wsdl/rodrigo-nb_8080/ManejadorContenidosWebService/ManejadorContenidosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/" name="ManejadorContenidosWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ejb.laboratorio.ort.edu.uy/" schemaLocation="http://rodrigo-nb:8080/ManejadorContenidosWebService/ManejadorContenidosWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="crearContenido">
<part name="parameters" element="tns:crearContenido"/>
</message>
<message name="crearContenidoResponse">
<part name="parameters" element="tns:crearContenidoResponse"/>
</message>
<message name="ArquitecturaException">
<part name="fault" element="tns:ArquitecturaException"/>
</message>
<message name="crearContenidoPaginaWeb">
<part name="parameters" element="tns:crearContenidoPaginaWeb"/>
</message>
<message name="crearContenidoPaginaWebResponse">
<part name="parameters" element="tns:crearContenidoPaginaWebResponse"/>
</message>
<message name="crearContenidoPaginaWeb2">
<part name="parameters" element="tns:crearContenidoPaginaWeb2"/>
</message>
<message name="crearContenidoPaginaWeb2Response">
<part name="parameters" element="tns:crearContenidoPaginaWeb2Response"/>
</message>
<portType name="ManejadorContenidosWebService">
<operation name="crearContenido">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoRequest" message="tns:crearContenido"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoResponse" message="tns:crearContenidoResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenido/Fault/ArquitecturaException"/>
</operation>
<operation name="crearContenidoPaginaWeb">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWebRequest" message="tns:crearContenidoPaginaWeb"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWebResponse" message="tns:crearContenidoPaginaWebResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWeb/Fault/ArquitecturaException"/>
</operation>
<operation name="crearContenidoPaginaWeb2">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWeb2Request" message="tns:crearContenidoPaginaWeb2"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWeb2Response" message="tns:crearContenidoPaginaWeb2Response"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearContenidoPaginaWeb2/Fault/ArquitecturaException"/>
</operation>
</portType>
<binding name="ManejadorContenidosWebServicePortBinding" type="tns:ManejadorContenidosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearContenido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearContenidoPaginaWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearContenidoPaginaWeb2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ManejadorContenidosWebService">
<port name="ManejadorContenidosWebServicePort" binding="tns:ManejadorContenidosWebServicePortBinding">
<soap:address location="http://rodrigo-nb:8080/ManejadorContenidosWebService/ManejadorContenidosWebService"/>
</port>
</service>
</definitions>