SwingClient/src/META-INF/wsdl/localhost_8080/ManejadorContenidosWebService/ManejadorContenidosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/" name="ManejadorContenidosWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ejb.laboratorio.ort.edu.uy/" schemaLocation="http://localhost:8080/ManejadorContenidosWebService/ManejadorContenidosWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarEntradaBlogEncripted">
<part name="parameters" element="tns:modificarEntradaBlogEncripted"/>
</message>
<message name="modificarEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:modificarEntradaBlogEncriptedResponse"/>
</message>
<message name="ArquitecturaException">
<part name="fault" element="tns:ArquitecturaException"/>
</message>
<message name="crearPaginaWebEncripted">
<part name="parameters" element="tns:crearPaginaWebEncripted"/>
</message>
<message name="crearPaginaWebEncriptedResponse">
<part name="parameters" element="tns:crearPaginaWebEncriptedResponse"/>
</message>
<message name="modificarPaginaWebEncripted">
<part name="parameters" element="tns:modificarPaginaWebEncripted"/>
</message>
<message name="modificarPaginaWebEncriptedResponse">
<part name="parameters" element="tns:modificarPaginaWebEncriptedResponse"/>
</message>
<message name="eliminarEntradaBlogEncripted">
<part name="parameters" element="tns:eliminarEntradaBlogEncripted"/>
</message>
<message name="eliminarEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:eliminarEntradaBlogEncriptedResponse"/>
</message>
<message name="eliminarPaginaWebEncripted">
<part name="parameters" element="tns:eliminarPaginaWebEncripted"/>
</message>
<message name="eliminarPaginaWebEncriptedResponse">
<part name="parameters" element="tns:eliminarPaginaWebEncriptedResponse"/>
</message>
<message name="listarPaginasWebEncripted">
<part name="parameters" element="tns:listarPaginasWebEncripted"/>
</message>
<message name="listarPaginasWebEncriptedResponse">
<part name="parameters" element="tns:listarPaginasWebEncriptedResponse"/>
</message>
<message name="listarEntradasDeBlogEncripted">
<part name="parameters" element="tns:listarEntradasDeBlogEncripted"/>
</message>
<message name="listarEntradasDeBlogEncriptedResponse">
<part name="parameters" element="tns:listarEntradasDeBlogEncriptedResponse"/>
</message>
<message name="obtenerPaginaWebEncripted">
<part name="parameters" element="tns:obtenerPaginaWebEncripted"/>
</message>
<message name="obtenerPaginaWebEncriptedResponse">
<part name="parameters" element="tns:obtenerPaginaWebEncriptedResponse"/>
</message>
<message name="obtenerEntradaBlogEncripted">
<part name="parameters" element="tns:obtenerEntradaBlogEncripted"/>
</message>
<message name="obtenerEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:obtenerEntradaBlogEncriptedResponse"/>
</message>
<message name="listarPaginasWebFiltrandoEncripted">
<part name="parameters" element="tns:listarPaginasWebFiltrandoEncripted"/>
</message>
<message name="listarPaginasWebFiltrandoEncriptedResponse">
<part name="parameters" element="tns:listarPaginasWebFiltrandoEncriptedResponse"/>
</message>
<message name="listarEntradaBlogFiltrandoEncripted">
<part name="parameters" element="tns:listarEntradaBlogFiltrandoEncripted"/>
</message>
<message name="listarEntradaBlogFiltrandoEncriptedResponse">
<part name="parameters" element="tns:listarEntradaBlogFiltrandoEncriptedResponse"/>
</message>
<message name="crearEntradaBlogEncripted">
<part name="parameters" element="tns:crearEntradaBlogEncripted"/>
</message>
<message name="crearEntradaBlogEncriptedResponse">
<part name="parameters" element="tns:crearEntradaBlogEncriptedResponse"/>
</message>
<portType name="ManejadorContenidosWebService">
<operation name="modificarEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlogEncriptedRequest" message="tns:modificarEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlogEncriptedResponse" message="tns:modificarEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="crearPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncriptedRequest" message="tns:crearPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncriptedResponse" message="tns:crearPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="modificarPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWebEncriptedRequest" message="tns:modificarPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWebEncriptedResponse" message="tns:modificarPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/modificarPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="eliminarEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlogEncriptedRequest" message="tns:eliminarEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlogEncriptedResponse" message="tns:eliminarEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="eliminarPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWebEncriptedRequest" message="tns:eliminarPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWebEncriptedResponse" message="tns:eliminarPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/eliminarPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="listarPaginasWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncriptedRequest" message="tns:listarPaginasWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncriptedResponse" message="tns:listarPaginasWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="listarEntradasDeBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncriptedRequest" message="tns:listarEntradasDeBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncriptedResponse" message="tns:listarEntradasDeBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradasDeBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="obtenerPaginaWebEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncriptedRequest" message="tns:obtenerPaginaWebEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncriptedResponse" message="tns:obtenerPaginaWebEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerPaginaWebEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="obtenerEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncriptedRequest" message="tns:obtenerEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncriptedResponse" message="tns:obtenerEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/obtenerEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="listarPaginasWebFiltrandoEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrandoEncriptedRequest" message="tns:listarPaginasWebFiltrandoEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrandoEncriptedResponse" message="tns:listarPaginasWebFiltrandoEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarPaginasWebFiltrandoEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="listarEntradaBlogFiltrandoEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrandoEncriptedRequest" message="tns:listarEntradaBlogFiltrandoEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrandoEncriptedResponse" message="tns:listarEntradaBlogFiltrandoEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/listarEntradaBlogFiltrandoEncripted/Fault/ArquitecturaException"/>
</operation>
<operation name="crearEntradaBlogEncripted">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncriptedRequest" message="tns:crearEntradaBlogEncripted"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncriptedResponse" message="tns:crearEntradaBlogEncriptedResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/ManejadorContenidosWebService/crearEntradaBlogEncripted/Fault/ArquitecturaException"/>
</operation>
</portType>
<binding name="ManejadorContenidosWebServicePortBinding" type="tns:ManejadorContenidosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="modificarPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="eliminarEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="eliminarPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarPaginasWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarEntradasDeBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPaginaWebEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarPaginasWebFiltrandoEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="listarEntradaBlogFiltrandoEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="crearEntradaBlogEncripted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ManejadorContenidosWebService">
<port name="ManejadorContenidosWebServicePort" binding="tns:ManejadorContenidosWebServicePortBinding">
<soap:address location="http://localhost:8080/ManejadorContenidosWebService/ManejadorContenidosWebService"/>
</port>
</service>
</definitions>