SwingClient/src/META-INF/wsdl/localhost_8080/ManejadorContenidosWebService/ManejadorContenidosWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/">

<xs:element name="ArquitecturaException" type="tns:ArquitecturaException"/>

<xs:element name="crearEntradaBlogEncripted" type="tns:crearEntradaBlogEncripted"/>

<xs:element name="crearEntradaBlogEncriptedResponse" type="tns:crearEntradaBlogEncriptedResponse"/>

<xs:element name="crearPaginaWebEncripted" type="tns:crearPaginaWebEncripted"/>

<xs:element name="crearPaginaWebEncriptedResponse" type="tns:crearPaginaWebEncriptedResponse"/>

<xs:element name="eliminarEntradaBlogEncripted" type="tns:eliminarEntradaBlogEncripted"/>

<xs:element name="eliminarEntradaBlogEncriptedResponse" type="tns:eliminarEntradaBlogEncriptedResponse"/>

<xs:element name="eliminarPaginaWebEncripted" type="tns:eliminarPaginaWebEncripted"/>

<xs:element name="eliminarPaginaWebEncriptedResponse" type="tns:eliminarPaginaWebEncriptedResponse"/>

<xs:element name="listarEntradaBlogFiltrandoEncripted" type="tns:listarEntradaBlogFiltrandoEncripted"/>

<xs:element name="listarEntradaBlogFiltrandoEncriptedResponse" type="tns:listarEntradaBlogFiltrandoEncriptedResponse"/>

<xs:element name="listarEntradasDeBlogEncripted" type="tns:listarEntradasDeBlogEncripted"/>

<xs:element name="listarEntradasDeBlogEncriptedResponse" type="tns:listarEntradasDeBlogEncriptedResponse"/>

<xs:element name="listarPaginasWebEncripted" type="tns:listarPaginasWebEncripted"/>

<xs:element name="listarPaginasWebEncriptedResponse" type="tns:listarPaginasWebEncriptedResponse"/>

<xs:element name="listarPaginasWebFiltrandoEncripted" type="tns:listarPaginasWebFiltrandoEncripted"/>

<xs:element name="listarPaginasWebFiltrandoEncriptedResponse" type="tns:listarPaginasWebFiltrandoEncriptedResponse"/>

<xs:element name="modificarEntradaBlogEncripted" type="tns:modificarEntradaBlogEncripted"/>

<xs:element name="modificarEntradaBlogEncriptedResponse" type="tns:modificarEntradaBlogEncriptedResponse"/>

<xs:element name="modificarPaginaWebEncripted" type="tns:modificarPaginaWebEncripted"/>

<xs:element name="modificarPaginaWebEncriptedResponse" type="tns:modificarPaginaWebEncriptedResponse"/>

<xs:element name="obtenerEntradaBlogEncripted" type="tns:obtenerEntradaBlogEncripted"/>

<xs:element name="obtenerEntradaBlogEncriptedResponse" type="tns:obtenerEntradaBlogEncriptedResponse"/>

<xs:element name="obtenerPaginaWebEncripted" type="tns:obtenerPaginaWebEncripted"/>

<xs:element name="obtenerPaginaWebEncriptedResponse" type="tns:obtenerPaginaWebEncriptedResponse"/>

<xs:complexType name="crearEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArquitecturaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPaginaWebEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPaginaWebEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradaBlogFiltrandoEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradaBlogFiltrandoEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebFiltrandoEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPaginasWebFiltrandoEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradasDeBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEntradasDeBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEntradaBlogEncripted">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEntradaBlogEncriptedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>