SwingClient/src/META-INF/wsdl/localhost_8080/AutenticarWebService/AutenticarWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ejb.laboratorio.ort.edu.uy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.ejb.laboratorio.ort.edu.uy/" name="AutenticarWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ejb.laboratorio.ort.edu.uy/" schemaLocation="http://localhost:8080/AutenticarWebService/AutenticarWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="altaUsuario">
<part name="parameters" element="tns:altaUsuario"/>
</message>
<message name="autenticar">
<part name="parameters" element="tns:autenticar"/>
</message>
<message name="autenticarResponse">
<part name="parameters" element="tns:autenticarResponse"/>
</message>
<message name="ArquitecturaException">
<part name="fault" element="tns:ArquitecturaException"/>
</message>
<message name="tienePermiso">
<part name="parameters" element="tns:tienePermiso"/>
</message>
<message name="tienePermisoResponse">
<part name="parameters" element="tns:tienePermisoResponse"/>
</message>
<portType name="AutenticarWebService">
<operation name="altaUsuario">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/altaUsuario" message="tns:altaUsuario"/>
</operation>
<operation name="autenticar">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/autenticarRequest" message="tns:autenticar"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/autenticarResponse" message="tns:autenticarResponse"/>
<fault message="tns:ArquitecturaException" name="ArquitecturaException" wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/autenticar/Fault/ArquitecturaException"/>
</operation>
<operation name="tienePermiso">
<input wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/tienePermisoRequest" message="tns:tienePermiso"/>
<output wsam:Action="http://webservice.ejb.laboratorio.ort.edu.uy/AutenticarWebService/tienePermisoResponse" message="tns:tienePermisoResponse"/>
</operation>
</portType>
<binding name="AutenticarWebServicePortBinding" type="tns:AutenticarWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="altaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="autenticar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArquitecturaException">
<soap:fault name="ArquitecturaException" use="literal"/>
</fault>
</operation>
<operation name="tienePermiso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AutenticarWebService">
<port name="AutenticarWebServicePort" binding="tns:AutenticarWebServicePortBinding">
<soap:address location="http://localhost:8080/AutenticarWebService/AutenticarWebService"/>
</port>
</service>
</definitions>